<!--
     This launch file handles state estimation through an Extended Kalman Filter using robot_localization.
	It runs two nodes:
	(1) An EKF instance that fuses raw wheel odometry and outputs an odom-frame state estimate
	(2) An instance of navsat_transform_node, which converts the current odom-frame position estimate into a gps position in the utm frame.
-->

<launch>

	<!-- See this yaml file for parameters affecting these nodes. -->
	<rosparam command="load" file="$(find auto_rover)/params/state_estimation_from_bag_wheel_odom.yaml" />

	<!-- Simulate the ROS time from when the messages in the bag file were collected. -->
	<param name="use_sim_time" type="bool" value="true" />

	<!-- Use rosbag to replay sensor messages. -->
	<node pkg="rosbag" type="play" name="player" output="screen" args="--clock $(find auto_rover)/bagfiles/clean_data.bag -d 5"/>

	<!-- Use differential drive kinematics equations to convert encoder ticks
		into pose and twist (velocity), and publish
		an odometry message. -->
	<node pkg="differential_drive" type="diff_odom.py" name="raw_odometry_publisher" >
		<remap from="odom" to="odometry/wheel" />
	</node>

	<!-- Broadcast static transform for the mobile phone placed on
		top of the rover, which during data collection was secured
		2 inches (0.0508 meters) to the right of the center. -->
	<node pkg="tf" type="static_transform_publisher" name="bl_phone_tf" args="0 -0.0508 0 0 0 0 1 base_link phone 100" />

	<!-- An EKF instance that fuses wheel odometry and outputs an odom->base_link transform -->
  	<node pkg="robot_localization" type="ekf_localization_node" name="ekf_node" />

	<!-- An instance of navsat_transform_node, which transforms your robot's current position into utm coordinates.-->
	<node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform_node" />

</launch>
